# Archivos generados por Jupyter
.ipynb_checkpoints/

# Directorio de salida de Jupyter (puede variar según la configuración)
output/

# Carpetas y archivos generados por Jupyter
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de caché generados por Jupyter
.cache/

# Directorio de datos generados por Jupyter
data/

# Directorio de entornos virtuales de Python (si se usa)
venv/
env/

# Archivos de configuración de Jupyter
.jupyter/

# Archivo de registro de ejecución de Jupyter
*.log
